<footer>
    <div class="links">
        <a routerLink="/impressum" (click)="scrollToTop()">Impressum</a> -
        <a routerLink="/legal-notice" (click)="scrollToTop()">Legal Notice</a>
    </div>
    <div class="social-container">
        <a href="http://www.github.com/adayreyes" target="_blank"><img src="assets/img/icons/github-fill.png" alt=""></a>
        <a href="http://www.linkedin.com/in/aday-reyes-martin-24770023b" target="_blank"><img src="assets/img/icons/linkedin-box-fill.png" alt=""></a>
    </div>
</footer>
