<section id="about">
    <div class="about-container">
        <h2 class="responsive-title">About me</h2>
        <img class="about-img" src="assets/img/me/about2.JPG" alt="" data-aos="fade-right">
        <div data-aos="fade-left" class="about-text">
            <h2>About me</h2>
            <p>"I'm a young Junior Developer, who loves solving problems and is always motivated to learn"</p>
        </div>
    </div>
    <div class="journey-container">
        <div class="journey-subcontainer" data-aos="fade-right">
            <div class="icon-background">
                <img src="assets/img/icons/walk-line.png" alt="">
            </div>
            <p>MY JOURNEY BEGAN</p>
            <p>When I was a child, I loved to play with the computer and discover all the possibilities it could do. I even used to root my smartphone for fun.</p>
        </div>
        <div class="journey-subcontainer" data-aos="fade-down">
            <div class="icon-background">
                <img src="assets/img/icons/heart-line.png" alt="">
            </div>
            <p>FIRST EXPERIENCES</p>
            <p>Once I became familiar with coding, I realised that it was the perfect occupation for me, so I started watching tutorials and building very simple applications in my free time.</p>
        </div>
        <div class="journey-subcontainer" data-aos="fade-left">
            <div class="icon-background">
                <img src="assets/img/icons/search-line.png" alt="">
            </div>
            <p>MY SEARCH</p>
            <p>I discovered the possibility of becoming a developer while searching for a career that could integrate my desire to continually learn and improve my skills. </p>
        </div>
        <div class="journey-subcontainer" data-aos="fade-up">
            <div class="icon-background">
                <img src="assets/img/icons/flight-takeoff-line.png" alt="">
            </div>
            <p>NEW CHALLENGES</p>
            <p>Thanks to the Developer Akademie, I have learnt all I need for my start in the Frontend Development. I'm looking forward to learning more about coding and finding a job that I can fully apply all the skills and knowledge I have gained.</p>
        </div>
    </div>
</section>