<section id="about">
    <div class="about-container">
        <h2 class="responsive-title">About me.</h2>
        <img class="about-img" src="assets/img/me/about2.JPG" alt="">
        <div class="about-text">
            <h2>About me.</h2>
            <p>"I'm a young junior developer, who loves solving problems and is always motivated to learn"</p>
        </div>
    </div>
    <div class="journey-container">
        <div class="journey-subcontainer">
            <div class="icon-background">
                <img src="assets/img/icons/walk-line.png" alt="">
            </div>
            <p>MY JOURNEY BEGAN</p>
            <p>When I was a child, I loved to play with the computer and discover what it could do. I also used to root my smartphone only for fun.</p>
        </div>
        <div class="journey-subcontainer">
            <div class="icon-background">
                <img src="assets/img/icons/heart-line.png" alt="">
            </div>
            <p>FIRST EXPERIENCES</p>
            <p>When I got in touch with coding, I realised that it was the perfect occupation for me, so I started watching tutorials and building very simple applications in my free time.</p>
        </div>
        <div class="journey-subcontainer">
            <div class="icon-background">
                <img src="assets/img/icons/search-line.png" alt="">
            </div>
            <p>MY SEARCH</p>
            <p>I discovered the job as developer because I was looking for a job, where I always can learn something new and get better. Luckily, I found the Developer Akademie and started turning my hobby into a job. </p>
        </div>
        <div class="journey-subcontainer">
            <div class="icon-background">
                <img src="assets/img/icons/flight-takeoff-line.png" alt="">
            </div>
            <p>NEW CHALLENGES</p>
            <p>Thanks to the Developer Akademie, I have learnt all I need for my start in the Frontend Development. I'm looking forward to learn more about coding and get a job that fulfills me.</p>
        </div>
    </div>
</section>