<section id="projects">
    <h2>My Work</h2>
    <div class="languages-container">
        <button (click)="showAllProjects()">All</button>
        <button (click)="showAngularProjects()">Angular</button>
        <button (click)="showJavascriptProjects()">Javascript</button>
    </div>
    <div class="projects-container">
        <div *ngFor="let project of projects" class="project" [ngClass]="[project.css_class,project.language]" #{{project.css_class}} data-aos="flip-left">
            <div class="background-img"></div>
            <div class="project-info">
                <h3>{{ project.name }}</h3>
                <p>{{ project.description }}</p>
                <button><a href="{{project.link}}" target="_blank"></a> Try out</button>
            </div>
        </div>
    </div>
</section>