<section id="portfolio">
    <h2>My Work</h2>
    <div class="languages-container">
        <button>All</button>
        <button>Angular</button>
        <button>Javascript</button>
    </div>
    <div class="projects-container">
        <div class="project sharkie">
            <h3>Sharkie</h3>
            <p>Game blablab blaba</p>
            <button>Try out</button>
        </div>
        <div class="project">
            <h3>Join</h3>
            <p>Game blablab blaba</p>
            <button>Try out</button>
        </div>
        <div class="project">
            <h3>Pokedex</h3>
            <p>Game blablab blaba</p>
            <button>Try out</button>
        </div>
        <div class="project">
            <h3>Ring of fire</h3>
            <p>Game blablab blaba</p>
            <button>Try out</button>
        </div>
    </div>
</section>