

section{
    background-color: var(--bg-black);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    
    a{
        transition: all 125ms ease;
        text-decoration: none;
        color: var(--secundary);
        &:hover{
            color: var(--primary);
        }
    }

h2{
    font-size: 4rem;
    color: var(--secundary);
}

    form{
        display: flex;
        flex-direction: column;
        max-width: 600px;
        gap: 1rem;
        
        input{
            height: 2rem;
            color: white;
            width: 90%;
            background-color: var(--bg-grey);
            border-style: unset;
            font-size: var(--p);
            padding-left: 1rem;
            outline: none;
            &:focus{
                outline: 1px solid var(--primary);
            }
        }
        
        .message-input{
            color: white;
            height: 150px;
            width: 90%;
            background-color: var(--bg-grey);
            padding-left: 1rem;
            resize: none;
            font-size: var(--p);
            font-family: inherit;
            outline: none;
            &:focus{
                outline: 1px solid var(--primary);
            }
            border: none;
        }

    }
}
.send-button{
    align-self: flex-end;
    width: 150px;
    height: 70px;
    font-size: var(--p);
    background-color: rgb(114, 112, 112);
    margin-right: 40px;
    border: none;
    transition: all 100ms ease;
    
}

.button-enable{
    cursor: pointer;
    border: 2px solid var(--secundary);
    background-color: black;
    color: var(--secundary);
    &:hover{
        background-color: var(--secundary);
        color: var(--primary);
    }
    
}

.success-dialog{
    background-color: white;
    color: black;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 6px 12px -2px, rgba(255, 255, 255, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    position: fixed;
    top: 3rem;
    text-align: center;
    width: 250px;
    height: 220px;
    display: none;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;

    button{
        background-color: black;
        color: var(--secundary);
        width: 100px;
        height: 50px;
        font-size: var(--p);
        border: 2px solid var(--secundary)
    }
}

@media(max-width:900px){
    section{
        text-align: center;

        form{
            align-items: center;
            
            button{
                align-self: unset;
                margin-right: 0;
            }
        }
        }
}

@media(max-width:350px){
    
    section{
        h2{
        font-size: 3rem;
     }
    }
}