

section{
    background-color: var(--bg-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    a{
        transition: all 125ms ease;
        text-decoration: none;
        &:hover{
            color: var(--primary);
        }
    }

h2{
    font-size: 4rem;
    color: var(--secundary);
}

    form{
        display: flex;
        flex-direction: column;
        max-width: 600px;
        gap: 1rem;
        
        input{
            height: 2rem;
            color: white;
            width: 90%;
            background-color: var(--bg-grey);
            border-style: unset;
            font-size: var(--p);
            padding-left: 1rem;
            outline: none;
            &:focus{
                outline: 1px solid var(--primary);
            }
        }
        
        .message-input{
            color: white;
            height: 150px;
            width: 90%;
            background-color: var(--bg-grey);
            padding-left: 1rem;
            resize: none;
            font-size: var(--p);
            font-family: inherit;
            outline: none;
            &:focus{
                outline: 1px solid var(--primary);
            }
            border: none;
        }

    }
}
button{
    align-self: flex-end;
    width: 150px;
    height: 70px;
    font-size: var(--p);
    background-color: rgb(114, 112, 112);
    margin-right: 40px;
    border: none;
    transition: all 100ms ease;
    
}

.button-enable{
    cursor: pointer;
    border: 2px solid var(--secundary);
    background-color: black;
    color: var(--secundary);
    &:hover{
        background-color: var(--secundary);
        color: var(--primary);
    }
    
}

@media(max-width:900px){
    section{
        text-align: center;

        form{
            align-items: center;
            
            button{
                align-self: unset;
                margin-right: 0;
            }
        }
        }
}

@media(max-width:350px){
    
    section{
        h2{
        font-size: 3rem;
     }
    }
}