<section id="contact">
    <div class="main-container">
        <h2 data-aos="flip-down">Contact me</h2>
        <p>Get in touch via the form below, or by emailing <a href="mailto:adayreyesdev@gmail.com">adayreyesdev@gmail.com</a></p>
        <form [formGroup]="exform" data-aos="flip-down" (ngSubmit)="onSubmit(exform)"  #contactForm="ngForm">
            <label for="name">Name</label>
            <div class="input-box">
                <input class="form-control" formControlName="name" required type="text"  id="name" name="name" placeholder="Enter your name">
                <small *ngIf="exform.get('name').invalid && exform.get('name').touched">This field is required</small>
            </div>
            <label for="email">Email address</label>
            <div class="input-box">
                <input class="form-control" formControlName="email" required type="email"  name="email" id="email" placeholder="Enter your Email address">
                <small *ngIf="exform.get('email').invalid && exform.get('email').touched">Please introduce a valid email address</small>
            </div>
            <label for="message">Message</label>
            <div class="input-box">
                <textarea required class="message-input form-control" formControlName="message" name="message" placeholder="Enter your message" id="message" cols="30" rows="10"></textarea>
                <small *ngIf="exform.get('message').invalid && exform.get('message').touched">This field is required (min length: 10)</small>
            </div>
            <button class="send-button" [disabled]="exform.invalid" type="submit">Send</button>
        </form>
    </div>
    <div class="success-dialog" id="success-dialog">
        <h3>Danke für Ihre Nachricht!</h3>
        <p>Ich werde mich sobald wie möglich bei Ihnen melden</p>
        <button (click)="closeSuccessDialog()">OK</button>
    </div>
</section>
