<section id="skills">
    <h2>My Skills</h2>
    <div class="icons-container">
        <div class="skill-card">
            <div class="icon-background">
                <img src="assets/img/icons/java script.png" alt="">
            </div>
            <div class="skill-name">Javascript</div>
        </div>
        <div class="skill-card">
            <div class="icon-background">
                <img src="assets/img/icons/angular.png" alt="">
            </div>
            <div class="skill-name">Angular</div>
        </div>
        <div class="skill-card">
            <div class="icon-background">
                <img src="assets/img/icons/Group 205.png" alt="">
            </div>
            <div class="skill-name">HTML/CSS</div>
        </div>
        <div class="skill-card">
            <div class="icon-background">
                <img src="assets/img/icons/Group 226.png" alt="">
            </div>
            <div class="skill-name">SCRUM</div>
        </div>
        <div class="skill-card">
            <div class="icon-background">
                <img src="assets/img/icons/Git-Icon-1788C 2.png" alt="">
            </div>
            <div class="skill-name">Git</div>
        </div>
        <div class="skill-card">
            <div class="icon-background">
                <img src="assets/img/icons/Group 20.png" alt="">
            </div>
            <div class="skill-name">Design Thinking</div>
        </div>
        <div class="skill-card">
            <div class="icon-background">
                <img src="assets/img/icons/icons8-rest-api-80 2.png" alt="">
            </div>
            <div class="skill-name">Rest API</div>
        </div>
        <div class="skill-card">
            <div class="icon-background">
                <img src="assets/img/icons/icons8-test-lab-96 2.png" alt="">
            </div>
            <div class="skill-name">Test automation</div>
        </div>
        <div class="skill-card">
            <div class="icon-background">
                <img src="assets/img/icons/icons8-database-52 2.png" alt="">
            </div>
            <div class="skill-name">Databases</div>
        </div>
    </div>
</section>