@media(max-width:800px){
    h1{
        font-size: 50px;
    }
}


@media(max-width:600px){
    section{
        text-align: center;

        h1{
            font-size: 35px;
        }
        h2{
            font-size: 25px;
        }
    }
}

@media(max-width:450px){
    section{
        h1{
            font-size: 25px;
        }
        h2{
            font-size: 20px;
        }
    }
}

@media(max-width:350px){
    section{
        word-break: break-all;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size: 14px;
    }
}