nav{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem var(--space-xxl);

    img{
        width: 100px;
        
    }
    
    .drop-icon{
        width: 40px;
        display: none;
    }
}

.links{
    display: flex;
    gap: 2rem;
    a{
        text-decoration: none;
        color: white;
        font-size: 18px;
        transition: color 100ms ease ;
        &:hover{
            color: var(--primary);
        }
    }
}

.drop-menu{
    display: none;
    opacity: 0;
    position: absolute;
    height: calc(100vh - 120px);
    z-index: 1;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.832);
    width: calc(100% - 4px);
    border: 2px solid var(--primary);
    
    
    a{
        font-size: 2rem;
        text-decoration: none;
        color: white;
        padding: 1rem;
        text-align: center;
        width: 90%;

        &:nth-child(2){
            border-top: 2px solid var(--primary);
            border-bottom: 2px solid var(--primary);
        }
        &:nth-child(3){
            border-bottom: 2px solid var(--primary);

        }

        &:hover{
            background-color: var(--primary);
        }
    }

    .social-container{
        display: flex;
        margin-top: 5rem;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        a{
            border: none;
            &:hover{
                background-color: unset;
            }
        }

        img{
            filter: brightness(0) invert(1);
        };
    }

}

.fadedown{
    animation: fadedown 500ms ease 100ms forwards;
}

.hideup{
    animation: fadeup 500ms ease forwards;
}
@keyframes fadedown {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeup {
    from{
        opacity: 1;
        transform: translateY(0);
    }

    to{
        opacity: 0;
        transform: translateY(-100px);
    }
}

@media(max-width:600px){
    nav{
        padding: 1rem 1rem;
        .drop-icon{
            display: inline;
        }

        
    }
    .links{
        display: none;
    }
}

@media(min-width:1500px){
    nav{
        img{
            width: 130px;
        }
    }
}