nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem var(--space-xxl);
    margin-bottom: var(--space-l);

    img{
        width: 100px;
        cursor: pointer;
    }

}

.links{
    display: flex;
    gap: 2rem;
    a{
        text-decoration: none;
        color: white;
        font-size: 18px;
        transition: color 100ms ease ;
        &:hover{
            color: var(--primary);
        }
    }
}