:root{
    --bg-black: black;
    --bg-grey: #1a1a1a;
    --primary: #fa2759;
    --secundary: #2dfcd8;
    --space-xs: 12px;
    --space-s: 24px;
    --space-m: 40px;
    --space-l: 54px;
    --space-xl: 60px;
    --space-xxl: 105px;
    --p: 18px;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Inter,sans-serif;
    color: white;
    background-color: black;
}
section{
    width: 100%;
    min-height: 100vh;
    padding: 2rem 0;
    > *{
        margin: 0 var(--space-xxl);
        padding-top: 2rem;
    }
    
}
.primary{
    color: var(--primary);
}
.secundary{
    color: var(--secundary);
}

h1{
    font-size: 64px;
}

h2{
    font-size: 36px;
}

p{
    font-size: 18px;
}

@media(max-width:1080px){
    section > *{
        margin: 0 var(--space-xl);
    }

}

@media(max-width:700px){
    section > *{
        margin: 0 1rem;
    }
}

@media(max-width:350px){
    h1{
        font-size:50px;
    }
}

