<section id="home" class="main-container">
    <app-nav-bar></app-nav-bar>
    <div class="sub-container">
        <div class="info-container">
            <h1>Hi, <br> I'm <span class="primary">Aday Reyes</span><br> Front End Develop<span class="secundary">e</span>r</h1>
            <a href="#contact">Contact me</a>
        </div>
        <img src="assets/img/me/home.JPG" alt="">
    </div>
    <div class="arrow-container">
        <a href="#skills">
            <img src="assets/img/icons/arrow-207-128.ico" alt="">
        </a>
    </div>
</section>
