.main-container{
    background-color: var(--bg-black);

    span{
        margin: 0;
    }
    
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    a{
        font-size: var(--p);
        padding: var(--space-s) var(--space-xxl);
        background-color: black;
        color: var(--secundary);
        border: none;
        border: 3px solid var(--secundary);
        margin-top: var(--space-xl) ;
        cursor: pointer;
        text-decoration: none;
        transition: all 100ms ease;
        white-space: nowrap;
        
    
        &:hover{
            background-color: var(--secundary);
            color: var(--primary);
        }
    }
    
}

.sub-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-m);

    img{
        min-width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.arrow-container{
    display: flex;
    justify-content: center;
    img{
        width: 80px;
        margin-top: var(--space-xl);
        cursor: pointer;
    }
}

@media(max-width:900px){
    .sub-container{
        flex-direction: column-reverse;
        text-align: center;
    }
}

@media(max-width:500px){
    .sub-container{
        img{
            min-width: 300px;
            height: 300px;
        }
    }
    .arrow-container img{
        width: 60px;
    }
}

@media(max-width:350px){
    .info-container a{
        padding: var(--space-s) var(--space-xl);
    }

    .sub-container img{
        min-width: 260px;
        height: 260px;
    }
}

