<section id="home" class="main-container">
    <app-nav-bar></app-nav-bar>
    <div class="sub-container">
        <div class="info-container">
            <h1><span data-aos="zoom-in" data-aos-offset="0" data-aos-anchor="#home" data-aos-delay="500" data-aos-duration="2000">Hi, <br></span> <span data-aos="zoom-in" data-aos-offset="0" data-aos-anchor="#home" data-aos-delay="1500" data-aos-duration="1500">I'm <span class="primary">Aday Reyes</span><br></span> <span data-aos="zoom-in" data-aos-offset="0" data-aos-anchor="#home" data-aos-delay="2500" data-aos-duration="2000">Front End Develop<span class="secundary">e</span>r </span></h1>
            <a href="#contact">Contact me</a>
        </div>
        <img src="assets/img/me/home.JPG" alt="">
    </div>
    <div class="arrow-container">
        <a href="#skills">
            <img src="assets/img/icons/arrow-207-128.ico" alt="">
        </a>
    </div>
</section>
