.main-container{
    background-color: var(--bg-black);
    min-height: unset;
    height: 100vh;
    padding: 0;
    span{
        margin: 0;
    }
    
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    
    a{
        font-size: var(--p);
        padding: var(--space-s) var(--space-xxl);
        background-color: black;
        color: var(--secundary);
        border: none;
        border: 3px solid var(--secundary);
        margin-top: var(--space-xl) ;
        cursor: pointer;
        text-decoration: none;
        transition: all 100ms ease;
        white-space: nowrap;
        
    
        &:hover{
            background-color: var(--secundary);
            color: var(--primary);
        }
    }
    
}

.sub-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-m);

    img{
        width: 450px;
        height: 450px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.arrow-container{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    right: 0;
    left: 0;
    img{
        width: 50px;
        margin-top: var(--space-xl);
        cursor: pointer;
    }
}

@media(max-height: 700px){
    .sub-container{
        img{
            width: 350px;
            height: 350px;
        }

        h1{
            font-size: 50px;
        }
    }
    .info-container a{
        margin-top: 0;
    }
    
}

@media(min-width:1800px){
    .sub-container img{
        width: 500px;
        height: 500px;
    }
}

@media(max-width:900px){
    .main-container{
        min-height: 100vh;
        height: unset;
        gap: unset;
        padding-bottom: 2rem;

        .info-container{
            align-items: center;
        }
        .arrow-container{
            display: none;
        }
    }
    
    @media(max-width:900px) and (min-height:650px){
        .info-container{
            
    
            a{
                position: absolute;
                bottom: 1rem;
                left: 0;
            }
        }

    }
    
    .sub-container{
        flex-direction: column-reverse;
        text-align: center;
        img{
            width: 400px;
            height: 400px;
        }
    }
}

@media(max-width:500px){
    .sub-container{
        img{
            width: 300px;
            height: 300px;
        }
    }
    .arrow-container img{
        width: 60px;
    }
}

@media(max-width:350px){
    .info-container a{
        padding: var(--space-s) var(--space-xl);
    }

    .sub-container img{
        width: 260px;
        height: 260px;
    }
}



